<ng-container *ngIf="!loading" (window:resize)="onWindowResize($event)">
  <div class="holo-grid">
    <div class="holo-row" *ngFor="let currentLiveRow of splitIntoEvenRows(currentlyLive.ended)">
      <iframe
        *ngFor="let currentLive of currentLiveRow"
        [width]="getWindowWidth(currentLiveRow.length)"
        [height]="getWindowHeight(splitIntoEvenRows(currentlyLive.ended).length)"
        [src]="getEmbeddedUrl(currentLive.yt_video_key)"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</ng-container>
