.holo-grid {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 77px);
  max-height: calc(100vh - 77px);
  padding: 4px;
}

.holo-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  min-height: 60px;
  overflow: hidden;
}

.select-holo {
  display: flex;
  overflow: auto;
  padding-bottom: 8px !important;
  padding: 4px 8px 0 0;
}

.channel-bubble {
  margin-right: 12px;
  border-radius: 50%;
  cursor: pointer;

  img {
    border-radius: 50%;
  }

  &.selected {
    box-shadow: 0px 0px 8px 3px cornflowerblue;
  }
}
