<ng-container *ngIf="!loading">
  <div cdkDropList cdkDropListOrientation="horizontal" sortingDisabled="true" class="example-list" (cdkDropListDropped)="drop($event)" (window:resize)="onWindowResize($event)">
    <div class="example-box" *ngFor="let currentLive of currentlyLive.ended" cdkDrag>
      <iframe
        [width]="getWindowWidth(currentlyLive.ended.length)"
        [height]="getWindowHeight(currentlyLive.ended.length)"
        [src]="getEmbeddedUrl(currentLive.yt_video_key)"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</ng-container>

