.holo-grid {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4px);
  max-height: calc(100vh - 4px);
  padding: 4px;
}

.holo-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  min-height: 60px;
  overflow: hidden;
}
