<div class="container-box">
  <div class="outside-box">
    <div class="main-section">

      <div class="image-container">
        <h3>What to talk on today!</h3>
        <div class="image-box-section" *ngIf="currentlySelectedItem">
          <p>Lets talk on {{currentlySelectedItem.name}}</p>
          <img [src]="currentlySelectedItem.imageUrl" width="200px" height="200px">
        </div>
      </div>

      <div class="button-bar">
        <button type="button" class="btn btn-outline-primary" (click)="startSpinner()">Go!</button>
      </div>

    </div>
  </div>
</div>